.navigation {
    background-color: gainsboro;
}

.imageContainer {
    padding: 12px;
    margin: 8px 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: white;
}

.imageContainer p {
    font-size: 15px;
}

.imageContainer img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
