.imageContainer {
    padding: 14px;
    margin: 4px 0 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    background-color: white;
}

.modulesContainer p {
    font-size: 13px;
    color: gray;
    font-weight: bold;
    padding: 8px 0;
}

img {
    width: 40px;
    height: 40px;
}

.progressContainer {
    padding: 6px;
}

.progressContainer p {
    margin-right: 2px;
    font-size: 9px;
    text-align: start;
    color: gray;
}
